<div class="container mt-4">
  <div class="row">
    <div class="col-12">
      <label for="cantidad" class="form-label">Ingrese Cantidad</label>
      <input
        type="number"
        class="form-control form-control-lg"
        [(ngModel)] = "cantidad"
        id="cantidad"
        placeholder="Ingrese Cantidad"
      />
    </div>
  </div>
  <div class="row mt-3">
    <div class="col-lg-6">
      <div class="form-group">
        <label for="tengo" class="form-label">Tengo</label>
        <select
          class="form-select form-select-lg"
          id="tengo"
          aria-label="Default select example"
        >
          <option selected>Open this select menu</option>
          <option value="1">One</option>
          <option value="2">Two</option>
          <option value="3">Three</option>
        </select>
      </div>
    </div>
    <div class="col-lg-6">
      <label for="quiero" class="form-label">Quiero</label>
      <select
        class="form-select form-select-lg"
        id="quiero"
        aria-label="Default select example"
      >
        <option selected>Open this select menu</option>
        <option value="1">One</option>
        <option value="2">Two</option>
        <option value="3">Three</option>
      </select>
    </div>
  </div>
  <div class="row mt-5">
  <h5 class="text-center">
    <span class="badge bg-success">{{ cantidad }} {{ tengo }}</span>
    <span class="badge bg-secondary">SON</span>
    <span class="badge bg-success">{{ total }} {{ quiero }}</span>
  </h5>
  </div>
</div>
